### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

### R.Bookdown Stack ###
# R package: bookdown caching files
/*_files/


# OSG Singularity definition
R4_0_1-boot.def

# Project data
data/
bootstrap/
boot-10000_bs-bca_conf-95_value-0_metric-aspl.rds
boot-10000_bs-bca_conf-95_value-0_metric-clust.rds
boot-10000_bs-bca_conf-95_value-0_metric-indegree.rds
boot-10000_bs-bca_conf-95_value-1_metric-aspl.rds
boot-10000_bs-bca_conf-95_value-1_metric-clust.rds
boot-10000_bs-bca_conf-95_value-1_metric-indegree.rds
boot-10000_bs-bca_conf-95_value-2_metric-aspl.rds
boot-10000_bs-bca_conf-95_value-2_metric-clust.rds
boot-10000_bs-bca_conf-95_value-2_metric-indegree.rds
boot-10000_bs-bca_conf-bonf_value-0_metric-aspl.rds
boot-10000_bs-bca_conf-bonf_value-0_metric-clust.rds
boot-10000_bs-bca_conf-bonf_value-0_metric-indegree.rds
boot-10000_bs-bca_conf-bonf_value-1_metric-aspl.rds
boot-10000_bs-bca_conf-bonf_value-1_metric-clust.rds
boot-10000_bs-bca_conf-bonf_value-1_metric-indegree.rds
boot-10000_bs-bca_conf-bonf_value-2_metric-aspl.rds
boot-10000_bs-bca_conf-bonf_value-2_metric-clust.rds
boot-10000_bs-bca_conf-bonf_value-2_metric-indegree.rds
log/
queue_list.csv

